[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[user]
	name = vesalTHONG
	email = 102711469+vesalTHONG@users.noreply.github.com
	username = vesalTHONG-github
